url = "/post/:slug?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "{{:category}}"

[nextAndPrev]
category = "current"
postPage = "post"
==

<div class="container post-container">
    {% if post.featured_images[0] %}
        <div class="post-featured-image" style="background-image: url('{{ post.featured_images[0].thumb(1000, 500) }}')" >
            <div class="post-category">
                <h6>{{ post.categories[0].name }}</h6>
            </div>
        </div>
    {% else %}
        <h5>slick</h5>
    {% endif %}
    <div class="post-shares-bottons mt-3 mb-3">
        <div class="comments">
            <a href="">
                <i class="fas fa-comment"></i>
                <p class="fb-comments-count" data-href="{{ 'post'|page }}"></p>
            </a>
        </div>
        <div class="shares">
            <a class="facebook customer share" id="facebook-share" href="https://www.facebook.com/sharer.php?u={{ 'post'|page }}" title="Facebook share" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a class="twitter customer share" id="twitter-share" href="https://twitter.com/share?url={{ 'post'|page }}&amp;text=Share popup on &amp;hashtags=codepen" title="Twitter share" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" id="button-share">
                <i class="fas fa-share"></i>
                <p>Share</p>
            </a>
        </div>
    </div>
    <h3 class="post-title mb-4">{{ post.title }}</h3>
    <p>{{ post.content_html|raw }}</p>

   
    {% for image in post.galerie_images %}
        <div style="background-image:url('{{ image.getThumb(400,300, 'crop') }}')"></div>
    {% endfor %}
        
    {% component 'nextAndPrev' %}

    <div id="fb-root"></div>
    <div class="fb-comments" data-href="{{ 'post'|page }}" data-width="100%" data-numposts="15" data-mobile="Auto-detected"></div>
</div>

<script>
    (function(){
        // Verify support
        if(navigator.share) {
            // Saving the button in the variable $buttonShare
            let $buttonShare = document.getElementById("button-share");
            var $facebook = document.getElementById("facebook-share");
            var $twitter = document.getElementById("twitter-share");

            facebook.parentNode.removeChild(facebook);
            twitter.parentNode.removeChild(twitter);
            
            // Event click to the button 
            $buttonShare.addEventListener("click", function(e) {
                e.preventDefault();
    
                // Saving the URL of the link
                const URL = this.href;
                const TITULO = '{{ post.title }}';
                const DESC = " {{ post.excerpt|raw }} "; 
                // navigator.share is a function/method that receives
                // an object with the following parameters:
                navigator.share({
                    title: TITULO,
                    text: DESC,
                    url: URL // The url that is going to share is the url of the href
                })
                .then(() => console.log("Successful share")) // if everything goes well
                .catch((err) => console.log(`Error sharing ${err}`)); // if there is an error
    
                return false;
            });
        }
    
        // alert, if it is not the browser is not compatible
        else {
            var movilshare = document.getElementById("button-share");
            movilshare.parentNode.removeChild(movilshare);
        }
    
    }());
</script>