.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: $white;
    .container-flex {
        height: $nav-height;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        @include flex();
        align-items: center;
        height: 100%;
        width: auto;
        img {
            height: 60px;
            width: auto;
        }
        h3 {
            margin-left: 5px;
        }
    }
    .menu {
        color: $black;
        font-size: 35px;
    }
    .navbar-links {
        @include flex();
        flex-direction: column;
        position: fixed;
        width: 100%;
        left: 100%;
        background: $white;
        height: calc(100vh - 70px);
        @include transition(all, 0.4s, ease, 0.2s);
        &-items {
            margin: 15px 35px;
            h6 {
                font-size: 40px;
            }
        }
        &.active {
            left: 0;
        }
    }
}