.post-container {
	@include flex();
	flex-direction: column;
	width: 100%;
	.post-item {
		width: 100%;
		margin: 5px 0;
		&-img {
			width: 100%;
			height: 500px;
			border-radius: 5px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: relative;
			.post-category {
				position: absolute;
				top: 30px;
				left: 30px;
				padding: 13px;
				background: $black;
				border-radius: 9px;
				h6 {
					letter-spacing: 7.2px;
					color: $white;
				}
			}
		}
		.post-item-content {
			margin: 0 auto;
			width: 90%;
			padding: 15px 45px;
			-webkit-box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.61);
			-moz-box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.61);
			box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.61);
			p {
				color: $black-posts;
				font-weight: 700;
			}
			.social-content {
				@include flex();
				flex-direction: row;
				justify-content: space-between;
				padding: 25px 30px;
				.comments,
				.shares {
					a {
						@include flex();
						align-items: center;
						color: $gray;
						p {
							margin: 0;
							margin-left: 10px;
							color: $black;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
.post-galery {
	.img-grid {
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 300px;
		border-radius: 15px;
		@include transition(all, 0.2s, ease, 0s);
		&-overlay {
			@include flex();
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			position: absolute;
			border-radius: 15px;
			background: rgba(#000, 0.3);
			visibility: hidden;
			opacity: 0;
			padding: 5px;
			@include transition(all, 0.2s, ease, 0s);
			p {
				text-align: center;
				color: $white;
			}
		}
		&:hover {
			.img-grid-overlay {
				visibility: visible;
				opacity: 1;
			}
			-webkit-box-shadow: 0px 1px 22px -7px rgba(0, 0, 0, 1);
			-moz-box-shadow: 0px 1px 22px -7px rgba(0, 0, 0, 1);
			box-shadow: 0px 1px 22px -7px rgba(0, 0, 0, 1);
		}
	}
}
@include media-breakpoint-down(md) {
	.post-container {
		.post-item {
			&-img {
				height: 150px;
			}
			h3 {
				font-size: 20px;
			}
			.post-item-content {
				padding: 15px 15px;
				p {
					font-size: 13px;
				}
				.social-content {
					padding: 10px 5px;
				}
			}
		}
	}
	.post-galery {
		.img-grid {
			height: 250px;
		}
	}
}
@include media-breakpoint-down(xs) {
	.post-galery {
		.img-grid {
			height: 200px;
		}
	}
}
