<nav class="navbar" role="navigation">
    <div class="container container-flex">
        <a href="{{ 'home'| page }}" class="logo">
            <img src="{{ 'assets/images/logo.svg'|theme }}" alt=""><h3>ÁlterEgo</h3>
        </a>     
    </div>    
</nav>
<div class="open-overlay">
    <span class="bar-top"></span>
    <span class="bar-middle"></span>
    <span class="bar-bottom"></span>
</div>
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            {% for category in categories %}          
                <li><a href="{{ category.url }}" data-content="The beginning">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>