<nav class="navbar {% if this.page.id == 'home' %}home{% endif %}" role="navigation">
	<div class="container-fluid container-flex">
		<a href="{{ 'home' | page }}" class="logo">
			<img src="{{ 'assets/images/logo.svg' | theme }}" alt="" />
			<h3>ÁlterEgo</h3>
		</a>
	</div>
</nav>
<div class="open-overlay {% if this.page.id == 'home' %}home{% endif %}">
	<span class="bar-top{% if this.page.id == 'home' %}-home{% endif %}"></span>
	<span class="bar-middle{% if this.page.id == 'home' %}-home{% endif %}"></span>
	<span class="bar-bottom{% if this.page.id == 'home' %}-home{% endif %}"></span>
</div>
<div class="overlay-navigation">
	<nav role="navigation">
		<ul>
			{% for category in categories %}
			<a href="{{ category.url }}">
				<li
					style="background-image: url('{{
						category.featured_images[0].thumb(400, 900)
					}}')"
				>
					<p data-content="The beginning">{{ category.name }}</p>
				</li>
			</a>
			{% endfor %}
		</ul>
	</nav>
</div>
